<p id="notice"><%= notice %></p>

<h1>Listing Dishes</h1>
<% @courses.each do |course| %>
<table>
  <thead>

<tr><h2><%= course.name %></h2></tr>

    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% course.dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.price %></td>
        <td><%= dish.description %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Dish', new_dish_path(course_id: course.id) %>
<% end %>


<br>
