<p id="notice"><%= notice %></p>
<div id="main_container" class="container">
  <h1>Listing Dishes</h1>
  <% @courses.each do |course| %>
    <h2><%= course.name %></h2>
    <div class = "row">
      <div class = "col-md-3">Name</div>
      <div class = "col-md-6">Description</div>
      <div class = "col-md-1">Price</div>
      <div class = "col-md -2">Actions</div>
    </div>
    <% course.dishes.each do |dish| %>
      <div class= "row">
        <div class = "col-md-3"><%= dish.name %></div>
        <div class = "col-md-6"><%= dish.description %></div>
        <div class = "col-md-1"><%= dish.price %></div>
        <div class = "col-md-2"><%= link_to 'Edit', edit_dish_path(dish) %></div>
      </div>
    <% end %>
    <%= link_to 'New Dish', new_dish_path(course_id: course.id) %>
  <% end %>
</div>

<br>
