<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= Course.find_by_id(@dish.course_id).name %>
</p>
<%= link_to 'New Dish', new_dish_path %> |
<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Menu', dishes_path %>
